In [50]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split,cross_val_score,KFold,StratifiedKFold
from sklearn.ensemble import RandomForestClassifier

In [51]:
url='https://gist.githubusercontent.com/avnreddy95/0d26cf9d9059a388e9034fa902a637d9/raw/6220944aa507e672c3cfa0cb39601d57bff6693f/credit_card.csv'
df = pd.read_csv(url)

In [52]:
df.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

In [53]:
# Display the datsets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    int64
 1   Age             690 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         690 non-null    int64
 4   BankCustomer    690 non-null    int64
 5   Industry        690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    int64
 9   Employed        690 non-null    int64
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    int64
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    int64
 14  Income          690 non-null    int64
 15  Approved        690 non-null    int64
dtypes: float64(3), int64(10), object(3)
memory usage: 86.4+ KB

In [54]:
df['Approved'].value_counts()

Approved
0    383
1    307
Name: count, dtype: int64

In [55]:
label={}
for col in df.columns:
    if df[col].dtype=='object':
        le=LabelEncoder()
        df[col]=le.fit_transform(df[col])
        label[col]=le

In [56]:
x,y=df.drop('Approved',axis=1),df['Approved']

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [58]:
# initialize k-fold cross-validation
kf= KFold(n_splits=5, shuffle=True, random_state=42)

In [59]:
#train model
model = RandomForestClassifier(n_estimators=100, random_state=42)
scores= cross_val_score(model, x_train, y_train, cv=kf, scoring='accuracy')
print(f'Cross-validation scores: {scores}')
print(f'Mean accuracy: {scores.mean()}')

Cross-validation scores: [0.87387387 0.89189189 0.89090909 0.88181818 0.80909091]
Mean accuracy: 0.8695167895167895

In [60]:
skf= StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
#train model with stratified k-fold
scores_stratified = cross_val_score(model, x_train, y_train, cv=skf, scoring='accuracy')
print(f'Stratified Cross-validation scores: {scores_stratified}')
print(f'Stratified Mean accuracy: {scores_stratified.mean()}')

Stratified Cross-validation scores: [0.9009009  0.81981982 0.84545455 0.9        0.83636364]
Stratified Mean accuracy: 0.8605077805077805